<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="114084"
                            src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/112c1c9a-ef93-4ef4-9e07-b83e8d410329.jpg"
                            alt="Focus on Cancer"
                            width="605"
                            style="
                                display: block;
                                padding: 0px;
                                text-align: center;
                                height: auto;
                                width: 100%;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
