<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td style="padding-top: 20px; padding-bottom: 20px; " class="stylingblock-content-wrapper camarker-inner">
%%[
    VAR @EmailAddress
    SET @EmailAddress = Email
]%%
<table border="0" cellpadding="0" cellspacing="0" style="background: #ffffff;" width="100%">
	<!-- FOOTER CONTENT -->
		<tr>
		</tr><tr>
			<td align="center" style="background: #FFFFFF;" valign="top" width="100%">
				<table cellpadding="0" cellspacing="0" class="container" width="600">
					
						<tr>
						</tr><tr>
							<td align="center" style="padding: 0px 0px 25px; color: rgb(149, 149, 149); font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 11px;">
								<span>This email was sent to: %%emailaddr%%<br>
								<br>
								%%Member_Busname%%<br>
								%%Member_Addr%%<br>
								%%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%</span><br>
								<br>
								We respect your right to privacy. <a alias="Privacy Policy" href="https://www.cancercenter.com/privacy-policy/" style="color: rgb(149, 149, 149); font-size: 12px; font-weight: bold; text-decoration: none;" target="_blank">View our privacy policy. </a><br>
								&nbsp;</td></tr><tr>
							<td align="center" style="padding: 0px 0px 25px; color: rgb(149, 149, 149); font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 11px;">
								<a alias="Manage Subscriptions" href="http://cloud.link.ctca-hope.com/Preference_center_page?EmailAddress=%%=v(@EmailAddress)=%%" style="color: rgb(149, 149, 149); font-size: 12px; font-weight: bold; text-decoration: none;" target="_blank">Manage Subscriptions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a alias="Unsubscribe" href="http://cloud.link.ctca-hope.com/Preference_center_page?EmailAddress=%%=v(@EmailAddress)=%%" style="color: rgb(149, 149, 149); font-size: 12px; font-weight: bold; text-decoration: none;" target="_blank">Unsubscribe</a><div style="Display:none;">
								</div></td></tr></table></td></tr></table><table border="0" cellpadding="0" cellspacing="0" style="background: #F0EFF5;" width="100%">
	<!-- FOOTER CONTENT -->
		<tr>
		</tr><tr>
			<td align="center" style="background: #FFFFFF;" valign="top" width="100%">
				<table cellpadding="0" cellspacing="0" class="container" width="600">
					
						<tr>
						</tr><tr>
							<td align="center" style="padding: 0px 0px 25px; color: rgb(149, 149, 149); font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 11px;">
								<span>&copy; 2020 IPB </span><br>
								&nbsp;</td></tr></table></td></tr></table></td></tr></table>