<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="2536"
                            src="http://image.S10.exacttarget.com/lib/fe3c15707564047a771c71/m/1/a16a1589-90a4-4145-9c93-a7c6da5c7555.png"
                            height="153"
                            width="234"
                            style="
                                display: block;
                                padding: 0px;
                                text-align: center;
                                height: 153px;
                                width: 234px;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
