<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    class="stylingblock-content-wrapper"
    style="min-width: 100%"
>
    <tr>
        <td class="stylingblock-content-margin-cell" style="padding: 10px 0px 15px">
            <table
                cellpadding="0"
                cellspacing="0"
                width="100%"
                style="min-width: 100%"
                class="stylingblock-content-wrapper"
            >
                <tr>
                    <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
                        <table
                            cellpadding="0"
                            cellspacing="0"
                            class="deviceWidth mktoModule"
                            id="HeaderTitleSection"
                            mktoname="Header Title Section"
                            style="width: 100%"
                            width="100%"
                        >
                            <tr>
                                <td
                                    height="${HeadTitleTopSpace}"
                                    style="font-size: 1px; line-height: 1px"
                                >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ${HeaderTitleColor};">
                                    <table
                                        align="center"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="deviceWidth1"
                                        style="width: 500px; margin: 0 auto"
                                        width="500"
                                    >
                                        <tr>
                                            <td
                                                style="
                                                    font-size: 27px;
                                                    line-height: 32px;
                                                    color: #7accc1;
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    text-align: center;
                                                "
                                            >
                                                <div
                                                    class="mktoText"
                                                    id="HeaderTitle"
                                                    mktoname="Header Iitle"
                                                >
                                                    <div>
                                                        <strong
                                                            >Header text goes right here in this<br
                                                                class="hidden-xs"
                                                            />
                                                            area is a change</strong
                                                        >
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    height="${HeadTitleBottomSpace}"
                                    style="font-size: 1px; line-height: 1px"
                                >
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
