<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="width: 100%; margin-top: 40px; margin-bottom: 10px"
                class="deviceWidth mktoModule"
                mktoname="Body Section4-A"
                id="BodySection4A"
            >
                <tr>
                    <td style="background-color: ${Section4ABGColor};">
                        <table
                            width="500"
                            align="center"
                            cellpadding="0"
                            cellspacing="0"
                            style="
                                width: 100%;
                                margin: 0 auto;
                                border-bottom: 10px solid #90c84b;
                                padding-bottom: 10px;
                            "
                            class="deviceWidth1"
                        >
                            <tr>
                                <td>
                                    <table
                                        width="100%"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="width: 100%"
                                        class="deviceWidth"
                                    >
                                        <tr>
                                            <td width="25" valign="top">
                                                <a href="https://www.cancercenter.com/">
                                                    <img
                                                        class="mktoImg"
                                                        mktoname="Leaf Image"
                                                        id="LeafImg"
                                                        src="http://hope.cancercenter.com/rs/593-THT-520/images/leaf.png"
                                                        width="25"
                                                        alt="leaf"
                                                    />
                                                </a>
                                            </td>

                                            <td style="font-size: 1px; line-height: 1px" width="15">
                                                &nbsp;
                                            </td>

                                            <td
                                                width="460"
                                                style="
                                                    font-size: 16px;
                                                    line-height: 19px;
                                                    color: #474748;
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    text-transform: uppercase;
                                                "
                                            >
                                                <a
                                                    href="https://www.cancercenter.com/"
                                                    style="text-decoration: none; color: #474748"
                                                >
                                                    <div
                                                        class="mktoText"
                                                        mktoname="Section4 Title"
                                                        id="Section4Title"
                                                    >
                                                        <div>More news</div>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    style="font-size: 1px; line-height: 8px"
                                    height="${Section4ABottomSpace}"
                                >
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
