<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px 0px 10px" class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="253975"
                            src="https://image.e.cityofhope.org/lib/fe4615707564057d731471/m/1/6ed77315-9f5f-4206-a860-d2ac82d94aaa.png"
                            alt="US News Best Hospitals Cancer 2023-2024"
                            height="67"
                            width="69"
                            style="
                                display: block;
                                padding: 0px;
                                text-align: center;
                                height: 67px;
                                width: 69px;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
