<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: #ececea; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 20px" class="stylingblock-content-wrapper camarker-inner">
            <table style="width: 100%" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td>
                        <table
                            style="width: 100%"
                            cellspacing="0"
                            cellpadding="0"
                            role="presentation"
                        >
                            <tr>
                                <td
                                    valign="top"
                                    style="width: 20%; padding-right: 5px"
                                    class="responsive-td"
                                >
                                    <div data-type="slot" data-key="jgdd3s5qds"></div>
                                </td>
                                <td
                                    valign="top"
                                    style="width: 25%; padding-left: 5px; padding-right: 5px"
                                    class="responsive-td"
                                >
                                    <div data-type="slot" data-key="8feokloe19t"></div>
                                </td>
                                <td
                                    valign="top"
                                    style="width: 35%; padding-left: 5px; padding-right: 5px"
                                    class="responsive-td"
                                >
                                    <div data-type="slot" data-key="geioejqun0n"></div>
                                </td>
                                <td
                                    valign="top"
                                    style="width: 20%; padding-left: 5px"
                                    class="responsive-td"
                                >
                                    <div data-type="slot" data-key="vyjtnu3dyu"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
