<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="253971"
                            src="https://image.e.cityofhope.org/lib/fe4615707564057d731471/m/1/841e44bb-b22a-4b32-9f30-b3d1d37cd722.png"
                            alt="Magnet Recognized"
                            height="56"
                            width="70"
                            style="
                                display: block;
                                padding: 0px 0px 10px;
                                text-align: center;
                                height: 56px;
                                width: 70px;
                                border: 0px transparent;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
