<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px 20px" class="stylingblock-content-wrapper camarker-inner">
            <p>
                <span
                    style="
                        font-size: 16px;
                        color: #000000;
                        line-height: 1.5;
                        font-family: arial, helvetica, sans-serif;
                    "
                    >Through our integrative model of care, physicians provide the best possible
                    care specifically tailored for you.&nbsp;A personalized treatment plan
                    addressing your individual needs can help make all the difference.<br />
                    <br />
                    Would you like to take the next step to find out if CTCA is the right fit for
                    you? Call </span
                ><a
                    alias="Rep Phone"
                    conversion="false"
                    data-linkto="other"
                    href="tel:%%OwnerPhone%%"
                    style="color: #00a9e0; text-decoration: underline"
                    title="%%OwnerPhone%%"
                    >%%OwnerPhone%%</a
                ><span
                    style="
                        font-size: 16px;
                        color: #000000;
                        line-height: 1.5;
                        font-family: arial, helvetica, sans-serif;
                    "
                    >&nbsp;or email&nbsp;</span
                ><a
                    alias="email"
                    conversion="false"
                    data-linkto="mailto:"
                    href="mailto:%%OwnerEmail%%?subject=Next%20steps%20with%20CTCA"
                    style="color: #00a9e0; text-decoration: underline"
                    title=""
                    >%%OwnerEmail%%</a
                ><span
                    style="
                        font-size: 16px;
                        color: #000000;
                        line-height: 1.5;
                        font-family: arial, helvetica, sans-serif;
                    "
                    >&nbsp;to learn more about how integrative cancer care could help you.</span
                >
            </p>
        </td>
    </tr>
</table>
