<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a
                            href="https://www.cancercenter.com/community/blog/2019/10/holiday-meals?invsrc=nurture&utm_channel=email"
                            title=""
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="60388"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564047a771c71/m/1/55eb81f5-6e18-4c50-85eb-b6571f24a8f6.jpg"
                                width="335"
                                style="
                                    display: block;
                                    padding: 0px;
                                    text-align: center;
                                    height: auto;
                                    width: 100%;
                                    border: 0px;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
