<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <h3
                style="
                    color: rgb(51, 51, 51);
                    font-family: Arial, helvetica, sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 1;
                    text-align: center;
                "
            >
                <span style="color: #49c5b1">Callout Text Goes Here</span>
            </h3>
        </td>
    </tr>
</table>
