<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 4px 0px 0px 20px" class="stylingblock-content-wrapper camarker-inner">
            <h3
                style="
                    font-family: 'Libre Baskerville', serif;
                    font-size: 20px;
                    line-height: 100%;
                    font-weight: bold;
                    font-style: normal;
                    text-align: center;
                "
            >
                <span style="color: #ffffff">Callout Text Goes Here</span>
            </h3>
        </td>
    </tr>
</table>
