<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="2832"
                            src="http://image.S10.exacttarget.com/lib/fe4615707564057d731471/m/1/b0d88640-9b96-43b8-be34-d7cb3ee80fe1.png"
                            height="400"
                            width="600"
                            style="
                                display: block;
                                padding: 0px;
                                width: 100%;
                                height: auto;
                                text-align: center;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
