<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="margin: 0px; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <table style="width: 100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table style="width: 100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td
                                    class="responsive-td"
                                    valign="top"
                                    style="width: 33%; padding-right: 6.66px"
                                >
                                    <div data-type="slot" data-key="vb4tlx8oqsg"></div>
                                </td>
                                <td
                                    class="responsive-td"
                                    valign="top"
                                    style="width: 33%; padding-right: 3.33px; padding-left: 3.33px"
                                >
                                    <div data-type="slot" data-key="v6lpv0hvomq"></div>
                                </td>
                                <td
                                    class="responsive-td"
                                    valign="top"
                                    style="width: 34%; padding-left: 6.66px"
                                >
                                    <div data-type="slot" data-key="1ch3mi7y5mc"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
