<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td
                                    class="innertd buttonblock"
                                    align="center"
                                    bgcolor="transparent"
                                    style="
                                        border-radius: 4px;
                                        -moz-border-radius: 4px;
                                        -webkit-border-radius: 4px;
                                        color: #ffffff;
                                        background-color: transparent;
                                    "
                                >
                                    <a
                                        target="_blank"
                                        style="
                                            text-decoration: none;
                                            display: block;
                                            font-family: Arial, helvetica, sans-serif;
                                            font-size: 14px;
                                            color: #ffffff;
                                            line-height: 100%;
                                            text-align: center;
                                            letter-spacing: 0.1em;
                                            text-transform: uppercase;
                                            background-color: transparent;
                                            border: 2px solid #ffffff;
                                            padding: 20px;
                                            border-radius: 4px;
                                            -moz-border-radius: 4px;
                                            -webkit-border-radius: 4px;
                                        "
                                        class="buttonstyles"
                                        href="http://"
                                        title=""
                                        alias=""
                                        conversion="false"
                                        data-linkto="http://"
                                        >BUTTON TEXT</a
                                    >
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
