<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <div style="text-align: center">
                <br />
                <b
                    ><span
                        style="
                            font-family:
                                Open Sans,
                                sans-serif;
                            font-size: 11px;
                        "
                        ><a
                            alias="How We Treat Cancer"
                            conversion="false"
                            data-linkto="http://"
                            href="http://www.cancercenter.com/cancer-care"
                            style="color: #00a9e0; text-decoration: none"
                            title="How We Treat Cancer"
                            >How We Treat Cancer</a
                        ><span style="color: #9b9b9b">&nbsp; &nbsp;|&nbsp; &nbsp;</span
                        ><a
                            alias="Our Locations"
                            conversion="false"
                            data-linkto="https://"
                            href="https://www.cancercenter.com/locations"
                            style="color: #00a9e0; text-decoration: none"
                            title="Our Locations"
                            >Our Locations</a
                        ><span style="color: #9b9b9b">&nbsp; &nbsp;|&nbsp; &nbsp;</span
                        ><a
                            alias="Becoming a Patient"
                            conversion="false"
                            data-linkto="https://"
                            href="https://www.cancercenter.com/become-a-patient"
                            style="color: #00a9e0; text-decoration: none"
                            title="Becoming a Patient"
                            >Becoming a Patient</a
                        >&nbsp;<span style="color: #9b9b9b">&nbsp;&nbsp;|&nbsp; &nbsp;</span
                        ><a
                            alias="Resources &amp;amp; Support"
                            conversion="false"
                            data-linkto="https://"
                            href="https://www.cancercenter.com/community"
                            style="color: #00a9e0; text-decoration: none"
                            title="Resources &amp; Support"
                            >Resources &amp; Support</a
                        ></span
                    ></b
                ><br />
                &nbsp;
                <hr />
            </div>
        </td>
    </tr>
</table>
