<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color: transparent; min-width: 100%; " class="stylingblock-content-wrapper"><tr><td style="padding: 20px 20px 10px; " class="stylingblock-content-wrapper camarker-inner">
%%[
    VAR @FirstName
    SET @FirstName = CF_First_Name__c
    IF @FirstName == "" THEN
        SET @FirstName = 'Cancer Fighter'
    ENDIF
]%%
&nbsp;<br>
Dear %%=v(@FirstName)=%%,<br>
<br>
Cancer Fighters&reg; has a full week of events January 27 - 31 and we would love for you to join us! Stay involved with Cancer Fighters by attending an on-site event while you're at the hospital:<br>
<br>
<b>Tuesday, January 28: Women Support Network</b><br>
Gallery Classrooms from 2:00 p.m. - 3:00 p.m.<br>
&nbsp;<br>
<b>​​​Wednesday, January 29: Rock-It Wednesday</b><br>
Stop by the table in Radiology for some art therapy and paint a rock from 10:30 a.m. - 12:30 p.m.<br>
<br>
<b>Thursday, January 30: Voice of the Patient</b><br>
Cancer Fighters Corner from 1:30 p.m. - 2:30 p.m.<br>
We want to hear from you! This hour focus group will be led by the CTCA Patient Relations team.<br>
<br>
<b>Friday, January 31: Movie Friday</b><br>
Cancer Fighters Corner fro 10:00 a.m. - 2:00 p.m.<br>
&nbsp;<br>
If you are interested, please contact Cancer Fighters for more information at (215) 537-7739 or <a alias="danielle.beverly@ctca-hope.com" conversion="false" data-linkto="http://" href="http://mailto:danielle.beverly@ctca-hope.com" style="color:#007FA3;text-decoration:underline;" title="danielle.beverly@ctca-hope.com">danielle.beverly@ctca-hope.com</a>.&nbsp;<br>
<br>
Sincerely,<br>
Your Cancer Fighters Team</td></tr></table>