<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="4081"
                            src="http://image.S10.exacttarget.com/lib/fe4615707564057d731471/m/1/d4329d10-e571-43c6-9ed2-214cc392b633.png"
                            height="160"
                            width="220"
                            style="
                                display: block;
                                padding: 0px;
                                text-align: center;
                                height: 160px;
                                width: 220px;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
