<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 15px 15px 5px" class="stylingblock-content-wrapper camarker-inner">
            Are you a Cancer Fighters member? It's quick and easy for you and your loved ones to
            sign up to enjoy the benefits today. Once you've signed up online, head over to the
            private <u>Celebrate Life</u> group to see who else is being honored alongside you this
            year!
        </td>
    </tr>
</table>
