<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="center">
                        <a
                            href="https://podcasts.apple.com/us/podcast/focus-on-cancer/id1516505488"
                            title=""
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="114082"
                                src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/813c79d9-6456-4f88-ad7f-63d935f56161.png"
                                alt="Listen on Apple Podcasts"
                                height="52"
                                width="200"
                                style="
                                    display: block;
                                    padding: 0px;
                                    text-align: center;
                                    height: 52px;
                                    width: 200px;
                                    border: 0px;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
