<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a
                            href="https://cm.cancercenter.com/community/for-caregivers/tips-caring-for-a-loved-one-with-cancer?utm_source=srmc&utm_medium=email&utm_campaign=aarp"
                            title="Tips for caregivers"
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="54379"
                                src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/3a8cef53-54e2-4e57-b51d-9b35fdda9157.jpg"
                                alt="Tips for caregivers"
                                width="290"
                                style="
                                    display: block;
                                    height: auto;
                                    width: 100%;
                                    padding: 0px;
                                    text-align: center;
                                    border-top: 0px;
                                    border-right: 0px;
                                    border-bottom: 0px;
                                    border-left: 1px solid #c9c9c9;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
