<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    class="stylingblock-content-wrapper"
    style="min-width: 100%"
>
    <tr>
        <td class="stylingblock-content-margin-cell" style="padding: 0px 0px 5px">
            <table
                cellpadding="0"
                cellspacing="0"
                width="100%"
                style="
                    background-color: transparent;
                    min-width: 100%;
                    border-top: 0px;
                    border-right: 1px solid #c9c9c9;
                    border-bottom: 1px solid #c9c9c9;
                    border-left: 1px solid #c9c9c9;
                "
                class="stylingblock-content-wrapper"
            >
                <tr>
                    <td style="padding: 20px" class="stylingblock-content-wrapper camarker-inner">
                        <h2
                            style="
                                font-size: 18px;
                                font-weight: bold;
                                font-style: normal;
                                color: #404040;
                                font-family: Arial, Helvetica, sans-serif;
                                line-height: 115%;
                            "
                        >
                            Tips for caregivers
                        </h2>
                        <br />
                        For each patient, a caregiver is often sharing in the cancer journey. If
                        you&rsquo;re caring for a loved one with cancer, these tips may reduce
                        stress and help prevent caregiver burnout.<br />
                        <br />
                        <a
                            alias=""
                            conversion="false"
                            data-linkto="http://"
                            href="http://cm.cancercenter.com/community/for-caregivers/tips-caring-for-a-loved-one-with-cancer?utm_source=srmc&utm_medium=email&utm_campaign=aarp"
                            style="color: #00a8e0; text-decoration: underline; line-height: 100%"
                            title="Read More"
                            >Read more &gt;</a
                        >
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
