<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 15px 10px" class="stylingblock-content-wrapper camarker-inner">
            <div style="text-align: center">
                <span
                    style="
                        color: #333333;
                        font-family: Arial, helvetica, sans-serif;
                        font-size: 24px;
                        line-height: 28px;
                    "
                    ><b
                        >Orange County&rsquo;s Only Specialty Cancer Hospital Makes Progress</b
                    ></span
                >
            </div>
        </td>
    </tr>
</table>
