<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td
            style="padding-top: 20px; padding-right: 20px; padding-left: 20px"
            class="stylingblock-content-wrapper camarker-inner"
        >
            <h1
                style="
                    font-size: 26px;
                    font-weight: bold;
                    font-style: normal;
                    color: #007fa3;
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 115%;
                "
            >
                The 'good, better, best' list of healthy foods
            </h1>
            <br />
            While most fruits and vegetables are healthy, some give you a bigger nutritional
            &quot;bang for the buck&quot;, says Jasmyn Walker, Clinical Oncology Dietitian at CTCA
            Tulsa. See her list of &quot;nutritional powerhouses&quot; plus enjoy two easy summer
            salad recipes to make the most of them.
        </td>
    </tr>
</table>
