<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <p>
                <span style="color: #404040"
                    ><span style="font-size: 14px"
                        ><b>Kevin Tulipana, DO, FHM (Course Chair)</b><br />
                        Director, Hospital Medicine<br />
                        Chief of Staff<br />
                        Cancer Treatment Centers of America<br />
                        <br />
                        <b>Stephen Lynch, MD (Course Co-chair)</b><br />
                        Vice Chief of Staff<br />
                        Cancer Treatment Centers of America<br />
                        <br />
                        <b>Lorenzo Cohen, PhD</b><br />
                        Richard E. Haynes Distinguished<br />
                        Professor in Clinical Cancer Prevention<br />
                        Director, Integrative Medicine<br />
                        University of Texas MD Anderson Cancer Center
                    </span></span
                >
            </p>
        </td>
    </tr>
</table>
