<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <br />
            Dear Dr. %%LastName%%,<br />
            <br />
            I wanted to connect and share that we are actively recruiting patients with inoperable
            esophageal cancer who suffer from dysphagia for possible inclusion in a research
            study.<br />
            <br />
            A relatively new option for palliation is endoscopic spray cryotherapy, a modality we
            have pioneered at Cancer Treatment Centers of America<sup>&reg;</sup>. Our outcomes were
            recently published in the September 2018 Gastrointestinal Endoscopy issue, highlighting
            our manuscript “Liquid nitrogen spray cryotherapy for dysphagia palliation in patients
            with inoperable esophageal cancer”. Additionally, we have prospective studies looking at
            quality of life of patients with inoperable esophageal cancer.&nbsp;<br />
            <br />
            Upon request, I would be happy to send a synopsis of our current study in patients with
            inoperable esophageal cancer, who are no longer receiving any systemic therapy. In
            addition to the clinical trial, we can also offer this therapy to your patient who is
            suffering from difficulty swallowing, coordinating with you while they are receiving
            systemic therapy at your center.<br />
            <br />
            If you would like your patient with difficulty swallowing to be considered for
            cryotherapy, whether they are receiving chemotherapy or if they are no longer considered
            candidates for chemotherapy, please contact me at 919-451-5404 or
            <b
                ><a
                    alias="toufic.kachaamy@ctca-hope.com"
                    conversion="false"
                    data-linkto="mailto:"
                    href="mailto:toufic.kachaamy@ctca-hope.com?subject="
                    style="
                        color: #007fa8;
                        text-decoration: none;
                        font-weight: normal;
                        line-height: 100%;
                    "
                    title="toufic.kachaamy@ctca-hope.com"
                    >toufic.kachaamy@ctca-hope.com</a
                ></b
            >.<br />
            <br />
            Alternatively, you can also call 623-207-3899, where our study coordinator is prepared
            to respond to your request and efficiently schedule your patient.<br />
            <br />
            Regards,<br />
            <br />
            Toufic
        </td>
    </tr>
</table>
