<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table style="margin-top: 0px" height="0px">
                <tr style="top: 0px" height="0px">
                    <td
                        style="
                            width: 60%;
                            padding-left: 2px;
                            padding-right: 2px;
                            height: 0%;
                            margin-top: 0px;
                            border-right: 1px dotted grey;
                            padding-right: 10px;
                            padding-left: 10px;
                        "
                    >
                        <h2 style="padding: 0px; margin-top: 0px; color: blue">
                            Breast Cancer Treatment can be Tough on the Heart
                        </h2>
                        <h5 style="color: blue">HealthDay</h5>
                        <p>
                            <img
                                src="https://ibcdn.imagesbazaar.com/img1024/12529/SM409038.jpg"
                                style="float: right; width: 200px; height: 160px; padding-left: 2px"
                            />
                            Text messaging, or texting, is the act of composing and sending
                            electronic messages, typically consisting of alphabetic and numeric
                            characters, between two or
                        </p>
                        <p>
                            More users of mobile phones, tablets, desktops/laptops, or other
                            devices. Text messages may be sent over a cellular network, or may also
                            be sent via an Internet connection.
                        </p>

                        <a href="" style="color: grey; float: right; margin-right: 15px"
                            >read the full story &gt;&gt;</a
                        >
                        <table style="margin-top: 45px">
                            <tr>
                                <td style="color: blue"><strong>Cancer News</strong></td>
                            </tr>
                            <tr>
                                <td><a href="">Tips For choosing</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Cancer survival</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                            </tr>
                        </table>
                    </td>

                    <!-- <td style="padding-left:15px;padding-right:15px"><div style="border:1px dotted grey;height:700px;padding:0px;margin:0px">
      
      </div></td>-->
                    <td style="padding-left: 15px">
                        <div>
                            <h4 style="padding: 0px; margin-top: 0px">In treatment for CLL</h4>
                            <p style="color: grey">
                                Text messaging, or texting, is the act of composing and sending
                                electronic messages, typically consisting of alphabetic and numeric
                                characters, between two or more users of mobile phones, tablets,
                                desktops/laptops, or other devices. Text messages may be sent over a
                                cellular network, or may also be sent via an Internet connection.
                            </p>

                            <a
                                href=""
                                style="
                                    font-size: 14px;
                                    color: grey;
                                    float: right;
                                    margin-right: 8px;
                                "
                                >Read More&gt;&gt;</a
                            >
                        </div>
                        <table style="width: 100%">
                            <tr style="top: 30px; position: relative">
                                <td><strong>Message board</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <ul>
                                        <li><a href="">Feeding tude pain</a></li>
                                        <li>
                                            <a href="">How to Offer Mental support after surgery</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >what is new in succefully treating brain cancer</a
                                            >
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: grey" align="right">read more messages&gt;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
