<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <p margin-bottom="10px;">Dear {{lead.First Name:default=Member}},</p>
            <p margin-bottom="10px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

            <p margin-bottom="10px;">
                Ut wisi enim ad minim veniam, quis nostrud exerci tation lorn ton ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo biwo consequat.
            </p>

            Best,
            <p style="color: #117a65" margin-bottom="10px;">
                <b>Cancer Center Treatments of America</b>
            </p>
        </td>
    </tr>
</table>
