<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: #ffffff; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <table
                align="left"
                bgcolor="#ffffff"
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="margin-top: 5px; margin-bottom: 10px"
                width="100%"
            >
                <tr>
                    <td
                        class="bordered"
                        style="
                            font-family: Arial, Helvetica, sans-serif;
                            -ms-text-size-adjust: 100%;
                        "
                    >
                        <table
                            align="center"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            class="contents"
                            style="margin: 0px auto"
                            width="100%"
                        >
                            <tr>
                                <td
                                    height="${threeArticlesSpacer2}"
                                    style="
                                        line-height: 1px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 1px;
                                        border-collapse: collapse;
                                    "
                                >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td
                                    class="secondary-font date"
                                    style="
                                        padding: 5px 12px;
                                        color: rgb(126, 135, 139);
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 12px;
                                    "
                                >
                                    <div class="mktoText" id="date2" mktoname="Left Date">
                                        <span style="color: rgb(126, 135, 139)">01.05.2018</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    height="${threeArticlesSpacer3}"
                                    style="
                                        line-height: 1px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 1px;
                                        border-collapse: collapse;
                                    "
                                >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td
                                    class="primary-font title font16"
                                    style="
                                        padding: 5px 12px;
                                        color: rgb(66, 128, 115);
                                        line-height: 20px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 16px;
                                        border-collapse: collapse;
                                    "
                                >
                                    <div class="mktoText" id="title2" mktoname="Center Title">
                                        Study links exercise to reduced risk for 13 types of cancer
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    height="${threeArticlesSpacer14}"
                                    style="
                                        line-height: 1px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 1px;
                                        border-collapse: collapse;
                                    "
                                >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td
                                    class="secondary-font text font15"
                                    style="
                                        padding: 5px 12px;
                                        color: rgb(126, 135, 139);
                                        line-height: 150%;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 15px;
                                        border-collapse: collapse;
                                    "
                                >
                                    <div class="mktoText" id="text" mktoname="Left Text">
                                        Lorem ipsum dolor sitan dolor sitan consectetur
                                        <a
                                            href="#"
                                            style="color: rgb(76, 181, 167); text-decoration: none"
                                            target="_blank"
                                            ><span class="outlook-link-teal">adipiscing</span></a
                                        >
                                        ultrices get he more content updated
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    height="${threeArticlesSpacer5}"
                                    style="
                                        line-height: 1px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 1px;
                                        border-collapse: collapse;
                                    "
                                >
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td
                                    height="${threeArticlesSpacer6}"
                                    style="
                                        line-height: 1px;
                                        font-family: Arial, Helvetica, sans-serif;
                                        font-size: 1px;
                                        border-collapse: collapse;
                                    "
                                >
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
