<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="width: 100%"
                class="deviceWidth mktoModule"
                mktoname="Body Section5-A"
                id="BodySection5A"
            >
                <tr>
                    <td style="background-color: ${Section5ABGColor};">
                        <table
                            align="center"
                            cellpadding="0"
                            cellspacing="0"
                            style="
                                width: 100%;
                                margin: 0 auto;
                                border-bottom: 10px solid #90c84b;
                                padding-bottom: 10px;
                            "
                            class="deviceWidth1"
                        >
                            <tr>
                                <td
                                    style="font-size: 1px; line-height: 1px"
                                    height="${Section5ATopSpace}"
                                >
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table
                                        width="100%"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="width: 100%"
                                        class="deviceWidth"
                                    >
                                        <tr>
                                            <td width="25" valign="top">
                                                <img
                                                    class="mktoImg"
                                                    mktoname="health Image"
                                                    id="healthImg"
                                                    src="http://hope.cancercenter.com/rs/593-THT-520/images/health.png"
                                                    width="25"
                                                    alt="Health"
                                                />
                                            </td>

                                            <td style="font-size: 1px; line-height: 1px" width="15">
                                                &nbsp;
                                            </td>

                                            <td
                                                width="460"
                                                style="
                                                    font-size: 16px;
                                                    line-height: 19px;
                                                    color: #474748;
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    text-transform: uppercase;
                                                "
                                            >
                                                <div
                                                    class="mktoText"
                                                    mktoname="Title"
                                                    id="Section5Title"
                                                >
                                                    <div>More news</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
