<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table
                cellpadding="0"
                cellspacing="0"
                class="deviceWidth mktoModule"
                id="BodySection1"
                mktoname="Body Section 1"
                style="width: 100%"
                width="100%"
            >
                <tr>
                    <td>
                        <table
                            align="center"
                            cellpadding="0"
                            cellspacing="0"
                            class="deviceWidth1"
                            style="width: 500px; margin: 0 auto"
                            width="500"
                        >
                            <tr>
                                <td
                                    style="
                                        background-color: #ffffff;
                                        color: #333;
                                        font-size: 16px;
                                        line-height: 1.5;
                                        valign: top;
                                        font-family: arial, helvetica, sans-serif;
                                    "
                                >
                                    <div
                                        class="mktoText"
                                        id="Section1Content"
                                        mktoname="Section 1 Content"
                                    >
                                        <p>
                                            <span style="font-size: 16px; line-height: 1.5"
                                                ><span
                                                    style="
                                                        font-family: arial, helvetica, sans-serif;
                                                    "
                                                    >Now from your phone, tablet or laptop, you can
                                                    easily:</span
                                                ></span
                                            >
                                        </p>
                                        <ul>
                                            <li>View and manage your appointments</li>
                                            <li>
                                                See your current medications and request renewals
                                            </li>
                                            <li>View your lab results and medical records</li>
                                            <li>
                                                Share your records with caregivers and hometown
                                                physicians
                                            </li>
                                            <li>Send a secure message to your Care Team</li>
                                        </ul>
                                        <p>
                                            You need to register to use
                                            <a
                                                href="https://www.myctca.com/myctca_portal/?invsrc=nurture&utm_channel=email"
                                                style="
                                                    font-weight: bold;
                                                    color: #007fa8;
                                                    text-decoration: none;
                                                "
                                                target=" _blank"
                                                >myCTCA.com</a
                                            >. Also, if you registered previously, you will need to
                                            create a new, secure password. Then, simply log in to
                                            have all your vital CTCA information at your fingertips.
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
