<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a
                            target="_blank"
                            href="https://www.myctca.com/myctca_portal/?invsrc=nurture&utm_channel=email"
                            title=""
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="22275"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564047a771c71/m/1/b0b0d707-4a04-4ce9-9fc4-b98b3868fbca.png"
                                height="255"
                                width="600"
                                style="
                                    display: block;
                                    padding: 0px;
                                    text-align: center;
                                    height: 255px;
                                    width: 600px;
                                    border: 0px;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
