<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="text-align: left; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner" align="left">
            <h3
                style="
                    font-family: Arial, helvetica, sans-serif;
                    font-size: 20px;
                    color: #808080;
                    line-height: 1;
                    font-weight: bold;
                    font-style: normal;
                "
            >
                <span style="font-size: 20px"
                    ><span style="color: #404040">Madappa Kundranda, MD, PhD</span></span
                >
            </h3>
            <div style="line-height: 100%">
                <span style="font-size: 12px"
                    ><span style="color: #404040"
                        >Director, Gastrointestinal Oncology Program<br />
                        Deputy Chief - Division of Medical Oncology<br />
                        Banner MD Anderson<br />
                        Gilbert, AZ</span
                    ></span
                >
            </div>
        </td>
    </tr>
</table>
