<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <p>
                <span style="color: #404040"
                    ><span style="font-size: 14px"
                        ><b>Vivek Iyer, MD</b><br />
                        Medical Director, Pain Management<br />
                        Cancer Treatment Centers of America<br />
                        <br />
                        <b>Larry Ladi, MD, FCCP</b><br />
                        Intensivist<br />
                        Cancer Treatment Centers of America<br />
                        <br />
                        <b>Timothy McCay, DO</b><br />
                        Medical Director, Imaging<br />
                        Cancer Treatment Centers of America
                        <br /><br />
                        <b>Ankur Parikh, DO</b><br />
                        Medical Director, Precision Medicine <br />
                        Cancer Treatment Centers of America
                        <br />
                        <br /></span></span
                ><br />

                &nbsp;
            </p>
        </td>
    </tr>
</table>
