<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a
                            href="https://www.achlcme.org"
                            title="ACHL"
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="45629"
                                src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/dc2206f8-dc94-4a91-b3eb-7c430e210050.jpg"
                                alt="ACHL"
                                height="84"
                                width="200"
                                style="
                                    display: block;
                                    padding: 15px;
                                    text-align: center;
                                    height: 84px;
                                    width: 200px;
                                    border: 0px;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
