<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%; margin: 0px"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <table>
                <tr>
                    <td style="width: 60%; padding-left: 2px; padding-right: 2px">
                        <h2 style="padding: 0px; margin-top: 0px; color: blue">
                            Breast Cancer Treatment can be Tough on the Heart
                        </h2>
                        <br />
                        <h5>Health day</h5>
                        <p>
                            <img
                                src="https://ibcdn.imagesbazaar.com/img1024/12529/SM409038.jpg"
                                style="float: right; width: 200px; height: 160px; padding-left: 2px"
                            />
                            Text messaging, or texting, is the act of composing and sending
                            electronic messages, typically consisting of alphabetic and numeric
                            characters, between two or
                        </p>
                        <p>
                            More users of mobile phones, tablets, desktops/laptops, or other
                            devices. Text messages may be sent over a cellular network, or may also
                            be sent via an Internet connection.
                        </p>

                        <p></p>
                        <p></p>
                    </td>
                    <td style="padding-left: 15px; padding-right: 15px">
                        <div
                            style="
                                border: 1px dotted grey;
                                height: 500px;
                                margin-top: 0px;
                                padding: 0px;
                            "
                        ></div>
                    </td>
                    <td>
                        <div>
                            <h4 style="padding: 0px; margin-top: 0px">In treatment for CLL</h4>
                            Text messaging, or texting, is the act of composing and sending
                            electronic messages, typically consisting of alphabetic and numeric
                            characters, between two or more users of mobile phones, tablets,
                            desktops/laptops, or other devices. Text messages may be sent over a
                            cellular network, or may also be sent via an Internet connection.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
