<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding-top: 20px" class="stylingblock-content-wrapper camarker-inner">
            <div style="text-align: center">
                <span style="font-size: 14px"
                    ><b
                        ><a
                            alias=""
                            conversion="false"
                            href="http://"
                            style="color: #000000; text-decoration: none"
                            title=""
                            >LINK</a
                        ></b
                    >
                    &nbsp; &nbsp;| &nbsp; &nbsp;</span
                ><b
                    ><a
                        alias=""
                        conversion="false"
                        href="http://"
                        style="
                            color: rgb(0, 0, 0);
                            font-size: 14px;
                            line-height: 22.4px;
                            text-decoration: none;
                            background-color: rgb(222, 222, 214);
                        "
                        title=""
                        >LINK</a
                    ></b
                ><span style="font-size: 14px"> &nbsp; &nbsp;| &nbsp; &nbsp;</span
                ><b
                    ><a
                        alias=""
                        conversion="false"
                        href="http://"
                        style="
                            color: rgb(0, 0, 0);
                            font-size: 14px;
                            line-height: 22.4px;
                            text-decoration: none;
                            background-color: rgb(222, 222, 214);
                        "
                        title=""
                        >LINK</a
                    ></b
                >
            </div>
        </td>
    </tr>
</table>
