<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%; margin: 1px; border: 0px solid transparent"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <table
                style="background-color: #8dbecf; font-color: white; margin-bottom: 2px"
                width="100% "
                align="right"
            >
                <tr>
                    <td style="text-align: right">February 07,2018</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
