<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: #ffffff; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <!-- FOOTER CONTENT -->
            <table
                width="100%"
                style="background: rgb(255, 255, 255)"
                border="0"
                cellspacing="0"
                cellpadding="0"
            >
                <tr></tr>
                <tr>
                    <td
                        width="100%"
                        align="left"
                        valign="top"
                        style="background: rgb(255, 255, 255)"
                    >
                        <table width="600" class="container" cellspacing="0" cellpadding="0">
                            <tr></tr>
                            <tr>
                                <td
                                    align="left"
                                    style="
                                        padding: 0px 20px 25px;
                                        color: rgb(149, 149, 149);
                                        font-family: Verdana, Helvetica, Arial, sans-serif;
                                        font-size: 11px;
                                    "
                                >
                                    <span
                                        ><br />
                                        1. Detterbeck FC, et al. The eighth edition lung cancer
                                        stage classification. Chest. 2017;151(1):193-203.
                                        doi:org/10.1016/j. chest.2016.10.010. <br />
                                        2. Comparisons of precision, reach, and stability are
                                        relative to manual techniques. Comparisons of flexibility
                                        and maneuverability are relative to ENB technology.
                                        Precision is the ability to place a biopsy tool in the
                                        desired location consistently. Flexibility is the ability to
                                        articulate 180° in all directions. Reach is defined by
                                        airway generation access. Stability is enabled by fiber
                                        optic sensing technology which maintains active robotic
                                        control of catheter position and corrects unwanted tip
                                        deflection. Results based on internal testing
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
