<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 20px 30px" class="stylingblock-content-wrapper camarker-inner">
            <span style="color: #333"
                ><span
                    style="
                        font-family: arial, helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        color: #333;
                    "
                    ><b>CTCA Phoenix Offers Innovation In Lung Biopsy</b><br />
                    <br />
                    Dear Dr.Soni,<br />
                    <br />
                    It is my great pleasure to provide lung cancer care to patients in Phoenix,
                    Arizona and the surrounding areas as a board-certified and fellowship-trained
                    thoracic surgeon at Cancer Treatment Centers of America (CTCA). CTCA Phoenix is
                    part of City of Hope, a top 10 cancer hospital and a nationally recognized
                    leader in the research and treatment of lung cancer. Our lung cancer program has
                    been recognized with the Gold Seal of Approval<sup>&reg;</sup> for Lung Cancer
                    Certification by The Joint Commission, a symbol that reflects our commitment to
                    providing safe and quality patient care. We strive to provide leading-edge lung
                    cancer diagnostics and treatments and I am excited to share news about an
                    innovation in lung biopsy now available at CTCA Phoenix.<br />
                    <br />
                    As you know, lung cancer is the leading cause of cancer deaths in the US.
                    However, when diagnosed at stage IA (nodule 3cm or less in size), the average
                    5-year survival rate is about 80%.1 The overall survival improves as nodules are
                    identified at an even smaller size (92% when the nodule is &lt;1cm in size).
                    Despite slow overall adaptation, with the availability of low-dose CT scan for
                    lung cancer screening, many small peripheral lung nodules are being found. The
                    current diagnostic yield of peripheral lung nodules less than 3cm in diameter,
                    with both bronchoscopic and transthoracic (CT-guided) biopsies, is less than 80
                    percent. For lesions that are less than 1cm in size, the diagnostic yield is far
                    lower.<br />
                    <br />
                    The Ion endoluminal system by Intuitive, maker of the da Vinci surgical system,
                    is an advancement in the existing approaches to lung biopsy. The Ion system
                    allows for a high rate of diagnostic yield, especially in the nodules that are
                    &lt;2cm in size. Also, if found to be malignant, endobronchial ultrasound (EBUS)
                    for staging can be performed at the same setting. The rate of pneumothorax is
                    much less than CT-guided biopsy.<br />
                    <br />
                    CTCA Phoenix is using the Ion endoluminal system because it is designed to
                    provide more reach, more stability, and more precision compared to flexible
                    bronchoscopy with or without electromagnetic navigation (EMN).<sup>2</sup><br />
                    <br />
                    Our goals at CTCA Phoenix are:<br />
                    1. To expedite establishment of diagnosis and treatment<br />
                    2. Provide timely communications of findings with you<br />
                    3. Work collaboratively to prepare the patient for diagnostic procedures and/or
                    treatments.<br />
                    <br />
                    We recognize that you can provide optimal long-term care for your patients.
                    Therefore, we will appropriately and deliberately return patients to your care
                    following any procedures and/or treatments. If you have any questions, please
                    feel free to reach me directly on my cell at 410&ndash;419&ndash;3978 or contact
                    my dedicated referral specialist, Natalie Badolato, at 623&ndash;207&ndash;3241
                    or
                    <a
                        alias="referrals@ctca-hope.com"
                        conversion="false"
                        data-linkto="mailto:"
                        href="mailto:referrals@ctca-hope.com?subject="
                        style="color: #006a8e; text-decoration: none"
                        title="referrals@ctca-hope.com"
                        >referrals@ctca-hope.com</a
                    ><br />
                    <br />
                    I look forward to the opportunity to collaborate with you.<br />
                    <br />
                    Regards,
                </span></span
            >
        </td>
    </tr>
</table>
