<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding-bottom: 10px" class="stylingblock-content-wrapper camarker-inner">
            <div style="text-align: left">
                <span
                    style="
                        font-family: arial, helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        color: #333;
                    "
                    ><span style="font-weight: bold"
                        >The Complexities Behind Breast Cancer’s Racial Disparities
                    </span></span
                ><br />
                <br />
                <span
                    style="
                        font-family: arial, helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        color: #333;
                    "
                    >Breast cancer deaths have declined 42 percent in the past 30 years, thanks to
                    increased awareness, expanded and earlier screening and improved therapies. But
                    all these advancements in screening, diagnosing and treating breast cancer has
                    not changed the fact that the disease does not affect all racial and ethnic
                    groups equally. Breast cancer remains the second leading cause of cancer death
                    among women overall and the leading cause of cancer death among Hispanic
                    women.</span
                >
            </div>
        </td>
    </tr>
</table>
