<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px 0px 10px" class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="left">
                        <table border="0" cellspacing="0" cellpadding="0" role="presentation">
                            <tr>
                                <td
                                    align="center"
                                    class="innertd buttonblock"
                                    bgcolor="#006A8E"
                                    style="
                                        border-radius: 0px;
                                        -webkit-border-radius: 0px;
                                        -moz-border-radius: 0px;
                                        background-color: #006a8e;
                                    "
                                >
                                    <a
                                        class="buttonstyles"
                                        style="
                                            border-image: none;
                                            text-align: left;
                                            color: #ffffff;
                                            font-family: Arial, helvetica, sans-serif;
                                            font-size: 16px;
                                            text-decoration: none;
                                            display: block;
                                            font-weight: bold;
                                            background-color: #006a8e;
                                            border: 1px solid #006a8e;
                                            padding: 10px;
                                            border-radius: 0px;
                                            -moz-border-radius: 0px;
                                            -webkit-border-radius: 0px;
                                        "
                                        target="_blank"
                                        href="http://aa067.taleo.net/careersection/physician/jobsearch.ftl"
                                        title="View Open Positions"
                                        alias=""
                                        conversion="false"
                                        data-linkto="http://"
                                        >View Open Positions</a
                                    >
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
