<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px 8px" class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <img
                            data-assetid="53454"
                            src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/c8f2dd53-0ac8-44f5-a6e3-307d43ffd989.jpg"
                            height="120"
                            width="180"
                            style="
                                display: block;
                                padding: 0px;
                                text-align: center;
                                height: 120px;
                                width: 180px;
                                border: 0px;
                            "
                        />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
