<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: #49c5b1; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 30px" class="stylingblock-content-wrapper camarker-inner">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="200">
                <tr>
                    <td>
                        <a alias="Share link" href="https://www.cancercenter.com/" target="_blank"
                            ><img
                                height="64"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/52333e4f-2fca-406f-8b35-9b77130e3c39.png"
                                style="
                                    display: block;
                                    height: 64px;
                                    width: 55px;
                                    padding: 0px 0px 0px 0px;
                                    text-align: left;
                                "
                                width="0"
                        /></a>
                    </td>
                    <td>
                        <a alias="email" href="https://www.cancercenter.com/" target="_blank"
                            ><img
                                height="64"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/df43f71f-9f7e-4614-971d-9588f1f0436c.png"
                                style="
                                    display: block;
                                    height: 64px;
                                    width: 54px;
                                    padding: 0px 0px 0px 0px;
                                    text-align: left;
                                "
                                width="0"
                        /></a>
                    </td>
                    <td>
                        <a
                            alias="Share on facebook"
                            href="https://www.cancercenter.com/"
                            target="_blank"
                            ><img
                                height="64"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/558d91c2-f94c-4d62-b32b-4cf42707a4ea.png"
                                style="
                                    display: block;
                                    height: 64px;
                                    width: 41px;
                                    padding: 0px 0px 0px 0px;
                                    text-align: left;
                                "
                                width="0"
                        /></a>
                    </td>
                    <td>
                        <a
                            alias="Share on Twitter"
                            href="https://www.cancercenter.com/"
                            target="_blank"
                            ><img
                                height="64"
                                src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/0c51313b-3002-4389-9eca-f9454eebfd5b.png"
                                style="
                                    display: block;
                                    height: 64px;
                                    width: 57px;
                                    padding: 0px 0px 0px 0px;
                                    text-align: left;
                                "
                                width="0"
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
