<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding-bottom: 10px" class="stylingblock-content-wrapper camarker-inner">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a
                            href="https://www.cancercenter.com/physician-directory/asha-karippot?utm_source=cnet&utm_medium=email&utm_campaign=cmeinvitation"
                            title=""
                            alias=""
                            conversion="false"
                            data-linkto="https://"
                            ><img
                                data-assetid="67989"
                                src="http://image.link.ctca-hope.com/lib/fe4315707564057d751d71/m/1/5446b319-9aaa-407a-a360-6c84cf305440.jpg"
                                alt="Asha Karippot, MD"
                                height="225"
                                width="225"
                                style="
                                    display: block;
                                    padding: 0px;
                                    width: 225px;
                                    height: 225px;
                                    text-align: center;
                                "
                        /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
