<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    role="presentation"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 20px 20px 0px" class="stylingblock-content-wrapper camarker-inner">
            Hi %%FirstName%%,<br />
            <br />
            Happy April! I hope this email finds you well. April is an awareness month for three
            different cancer types: Testicular, Head and neck, and Esophageal.<br />
            <br />
            We hope you will join us in spreading the word about the importance of prevention and
            screenings. Consider creating awareness with your employees by sharing these resources.
        </td>
    </tr>
</table>
