<table cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table style="color:#919090;font-family:Calibri;height=" "40px"="">
  <tr><td colspan="2">test qwerty poiuuoutuf qw eirikcagaduas dasdasdasdaaiudasudgaukytyfaluf g78osdafafsdytfiasyg fsdifgsdilfgsifg ifgsifgsufgsdilfs ifgsdifgsfsifus fsidfsifgsdi fsd sdifgsdif fisdufsdiu siftsdi</td></tr>
  <tr><td><img src="https://dummyimage.com/70x70/000/fff&amp;text=70x70"></td>
  <td style="padding-bottom:10px;"><strong>Rachel Smith</strong><br>Oncology Information Specialist
  Cancer Treatment Centers of America*<br>
    1336 Basswood Rd.,Schaumburg,IL 60173<br>
    <b>O:</b>(800)204-8900<br>
    <b>E:</b>info@ctca-hope.com <b>W:</b>cancercenter.com
    </td></tr>
</table>

<!-- 
<div style="color:#919090;font-family:Calibri;margin-top:40px">
  
<p>sFirst line may bxCsddddddd
sjkhdfgvjhsgsjhsjhkagfjhasgasjh
</p>


<div>
  <img src="https://dummyimage.com/70x70/000/fff&amp;text=70x70" width="70px" height="70px" style="float: left;">
  <p style="margin-left: 5em;"><span></span>sjkhdfgvjhsgsjhsjhkagfjhasgasjh</p>
  <p style="margin-left: 5em;">sjkhdfgvjhsgsjhsjhkagfjhasgasjh</p>
  
<div>
  
  </div>
</div>

-->













<!--
  <table style="color:#919090;font-family:Calibri;margin-bottom:88px">
   <tr><td>dasd</td></tr>
<tr><td>asd</td></tr>


  
 
    
    <img src="https://dummyimage.com/70x70/000/fff&amp;text=70x70" style="float:left"align="top">
  asdoasdodhasodas  
  <span>jhgjhj</span>
  
  </table>
-->
  
</td></tr></table>