<table cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner">
%%[
    SET @FirstName = FirstName
    IF @FirstName == "" THEN
        SET @FirstName = 'Friend'
    ENDIF
]%%
<table cellpadding="0" cellspacing="0" class="deviceWidth mktoModule" id="BodySection1" mktoname="Body Section 1" style="width:100%;" width="100%">
	
		<tr>
			<td>
				<table align="center" cellpadding="0" cellspacing="0" class="deviceWidth1" style="width:500px; margin: 0 auto;" width="500">
					
						<tr>
							<td style="background-color: #ffffff; color: #333; font-size: 16px; line-height: 1.5; valign: top; font-family: arial,helvetica,sans-serif;;">
								<div class="mktoText" id="Section1Content" mktoname="Section 1 Content">
									<p>
										<span style="font-size: 16px; line-height: 1.5;"><span style="font-family:arial,helvetica,sans-serif;">Dear %%=v(@FirstName)=%%,</span></span></p><p>
										At the close of another year, we gratefully pause to wish you a warm and happy holiday season. Please know that we are always here to offer hope and healing to you or a loved one. You can call us at<br>
										<a href="tel:1-800-204-8900" style="font-weight: bold; color: #007fa8; text-decoration: none;">800 204-8900</a> any day, including holidays 24/7.</p><p>
										Happy Holidays!<br>
										<em>%%OwnerFirstName%% %%OwnerLastName%%</em></p></div></td></tr></table></td></tr></table></td></tr></table>