<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td class="stylingblock-content-wrapper camarker-inner">
            <table
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="width: 100%"
                class="deviceWidth mktoModule"
                mktoname="Body Section1"
                id="BodySection1"
            >
                <tbody>
                    <tr>
                        <td style="background-color: ${Section1BGColor};">
                            <table
                                width="500"
                                align="center"
                                cellpadding="0"
                                cellspacing="0"
                                style="width: 500px; margin: 0 auto"
                                class="deviceWidth1"
                            >
                                <tbody>
                                    <tr>
                                        <td
                                            style="font-size: 1px; line-height: 1px"
                                            height="${Section1TopSpace}"
                                        >
                                            &nbsp;
                                        </td>
                                    </tr>

                                    <tr>
                                        <td
                                            style="
                                                font-size: 14px;
                                                line-height: 18px;
                                                color: #383838;
                                                font-family: Arial, Helvetica, sans-serif;
                                            "
                                        >
                                            <div
                                                class="mktoText"
                                                mktoname="Section1 Content"
                                                id="Section1Content"
                                            >
                                                <p style="margin-top: 0">
                                                    Dear {{lead.First Name:default=Member}},
                                                </p>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit, sed diam nonummy nibh euismod
                                                    tincidunt ut laoreet dolore magna aliquam erat
                                                    volutpat.
                                                </p>

                                                <p>
                                                    Ut wisi enim ad minim veniam, quis nostrud
                                                    exerci tation lorn ton ullamcorper suscipit
                                                    lobortis nisl ut aliquip ex ea commodo biwo
                                                    consequat.
                                                </p>

                                                <p>Best,</p>

                                                <p>
                                                    <span style="color: #009882"
                                                        ><strong
                                                            >Cancer Center Treatments of
                                                            America</strong
                                                        ></span
                                                    >
                                                </p>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td
                                            style="font-size: 1px; line-height: 1px"
                                            height="${Section1BottomSpace}"
                                        >
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
