<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td
            style="padding-top: 10px; padding-right: 10px; padding-left: 10px"
            class="stylingblock-content-wrapper camarker-inner"
        >
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background: #fff">
                <!-- FOOTER CONTENT -->
                <tr></tr>
                <tr>
                    <td align="center" style="background: #ffffff" valign="top" width="100%">
                        <table cellpadding="0" cellspacing="0" class="container" width="600">
                            <tr></tr>
                            <tr>
                                <td
                                    align="center"
                                    style="
                                        font-family: Verdana, Helvetica, Arial, sans-serif;
                                        font-size: 11px;
                                        color: #7a7c7c;
                                        padding: 0px 0px 5px 0px;
                                    "
                                >
                                    <table
                                        class="socialshare-innertable"
                                        style="display: inline-block"
                                    >
                                        <tr>
                                            <td style="padding: 2px 2px">
                                                <a
                                                    alias="facebook follow"
                                                    href="https://www.facebook.com/cancercenter/"
                                                    style="
                                                        color: #7a7c7c;
                                                        text-decoration: none;
                                                        font-weight: bold;
                                                        line-height: 100%;
                                                    "
                                                    ><img
                                                        alt="Facebook"
                                                        height="18"
                                                        src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/0843f74f-1b01-4bf7-90ec-bd04b4221148.png"
                                                        style="
                                                            display: block;
                                                            width: 18px !important;
                                                            height: 18px !important;
                                                        "
                                                        width="18"
                                                /></a>
                                            </td>
                                            <td style="padding-right: 8px">
                                                <a
                                                    alias="facebook follow"
                                                    href="https://www.facebook.com/cancercenter/"
                                                    style="
                                                        text-decoration: none;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 11px;
                                                        color: #7a7c7c;
                                                        line-height: 100%;
                                                    "
                                                    >Facebook</a
                                                >
                                            </td>
                                            <td style="padding: 2px 2px">
                                                <a
                                                    alias="twitter follow"
                                                    href="https://twitter.com/CancerCenter"
                                                    style="
                                                        color: #7a7c7c;
                                                        text-decoration: none;
                                                        line-height: 100%;
                                                    "
                                                    ><img
                                                        alt="Twitter"
                                                        height="18"
                                                        src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/d9f4fc04-3f9f-4bda-843f-9b30ba955b6f.png"
                                                        style="
                                                            display: block;
                                                            width: 18px !important;
                                                            height: 18px !important;
                                                        "
                                                        width="18"
                                                /></a>
                                            </td>
                                            <td style="padding-right: 8px">
                                                <a
                                                    alias="twitter follow"
                                                    href="https://twitter.com/CancerCenter"
                                                    style="
                                                        text-decoration: none;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 11px;
                                                        color: #7a7c7c;
                                                        line-height: 100%;
                                                    "
                                                    >Twitter</a
                                                >
                                            </td>

                                            <td style="padding: 2px 2px">
                                                <a
                                                    alias="Instagram follow"
                                                    href="https://www.instagram.com/cancercenter/"
                                                    style="
                                                        color: #7a7c7c;
                                                        text-decoration: none;
                                                        line-height: 100%;
                                                    "
                                                    ><img
                                                        alt="Instagram"
                                                        height="18"
                                                        src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/a646e3f8-95c5-41a3-946a-24ae40c043bb.png"
                                                        style="
                                                            display: block;
                                                            width: 18px !important;
                                                            height: 18px !important;
                                                        "
                                                        width="18"
                                                /></a>
                                            </td>
                                            <td style="padding-right: 8px">
                                                <a
                                                    alias="Instagram follow"
                                                    href="https://www.instagram.com/cancercenter/"
                                                    style="
                                                        text-decoration: none;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 11px;
                                                        color: #7a7c7c;
                                                        line-height: 100%;
                                                    "
                                                    >Instagram</a
                                                >
                                            </td>
                                            <td style="padding: 2px 2px">
                                                <a
                                                    alias="Linkedin follow"
                                                    href="https://www.linkedin.com/company/cancer-treatment-centers-of-america/"
                                                    style="
                                                        color: #7a7c7c;
                                                        text-decoration: none;
                                                        line-height: 100%;
                                                    "
                                                    ><img
                                                        alt="Linkedin"
                                                        height="18"
                                                        src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/d421e43c-c824-4cb1-ad95-d2bfea77b335.png"
                                                        style="
                                                            display: block;
                                                            width: 18px !important;
                                                            height: 18px !important;
                                                        "
                                                        width="18"
                                                /></a>
                                            </td>
                                            <td style="padding-right: 8px">
                                                <a
                                                    alias="Linkedin follow"
                                                    href="https://www.linkedin.com/company/cancer-treatment-centers-of-america/"
                                                    style="
                                                        text-decoration: none;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 11px;
                                                        color: #7a7c7c;
                                                        line-height: 100%;
                                                    "
                                                    >Linkedin</a
                                                >
                                            </td>

                                            <td style="padding: 2px 2px">
                                                <a
                                                    alias="twitter follow"
                                                    href="https://twitter.com/CancerCenter"
                                                    style="
                                                        color: #7a7c7c;
                                                        text-decoration: none;
                                                        line-height: 100%;
                                                    "
                                                    ><img
                                                        alt="Blog"
                                                        height="18"
                                                        src="http://image.link.ctca-hope.com/lib/fe3c15707564057c761277/m/1/902f3172-476e-41e1-8102-c8235354fff4.png"
                                                        style="
                                                            display: block;
                                                            width: 18px !important;
                                                            height: 18px !important;
                                                        "
                                                        width="18"
                                                /></a>
                                            </td>
                                            <td style="padding-right: 8px">
                                                <a
                                                    alias="CancerCenter360 blog"
                                                    href="https://www.cancercenter.com/community/blog"
                                                    style="
                                                        text-decoration: none;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        font-size: 11px;
                                                        color: #7a7c7c;
                                                        line-height: 100%;
                                                    "
                                                    >Blog</a
                                                >
                                            </td>
                                        </tr>
                                        <tr></tr>
                                    </table>
                                    <hr />
                                    <br />
                                    <span
                                        >This email was sent to: %%emailaddr%%<br />
                                        <br />
                                        %%Member_Busname%%<sup>&reg;</sup><br />
                                        %%Member_Addr%%<br />
                                        %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%,
                                        %%Member_Country%%</span
                                    ><br />
                                    <br />
                                    <div style="display: none">%%profile_center_url%%</div>
                                    We respect your right to privacy.
                                    <a
                                        alias="Privacy Policy"
                                        href="https://www.cancercenter.com/privacy-policy/"
                                        style="
                                            font-size: 12px;
                                            color: #7a7c7c;
                                            text-decoration: none;
                                            font-weight: bold;
                                            line-height: 100%;
                                        "
                                        target="_blank"
                                        >View our privacy policy. </a
                                    ><br />
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td
                                    align="center"
                                    style="
                                        font-family: Verdana, Helvetica, Arial, sans-serif;
                                        font-size: 11px;
                                        color: #7a7c7c;
                                        padding: 0px 0px 12px 0px;
                                    "
                                >
                                    <a
                                        alias="Manage Subscriptions"
                                        href="http://cloud.link.ctca-hope.com/Preference_center_page?EmailAddress=%%emailaddr%%"
                                        style="
                                            font-size: 12px;
                                            color: #7a7c7c;
                                            text-decoration: none;
                                            font-weight: bold;
                                            line-height: 100%;
                                        "
                                        target="_blank"
                                        >Manage Subscriptions</a
                                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                        alias="Unsubscribe Subscriptions"
                                        href="http://cloud.link.ctca-hope.com/Preference_center_page?EmailAddress=%%emailaddr%%"
                                        style="
                                            font-size: 12px;
                                            color: #7a7c7c;
                                            text-decoration: none;
                                            font-weight: bold;
                                            line-height: 100%;
                                        "
                                        target="_blank"
                                        >Unsubscribe</a
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td
                        align="center"
                        style="
                            font-family: Verdana, Helvetica, Arial, sans-serif;
                            font-size: 11px;
                            color: #7a7c7c;
                            padding: 0px 0px 10px 0px;
                        "
                    >
                        &copy; 2020 IPB
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
