<table
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="background-color: transparent; min-width: 100%"
    class="stylingblock-content-wrapper"
>
    <tr>
        <td style="padding: 0px" class="stylingblock-content-wrapper camarker-inner">
            <h1 style="text-align: center">
                <span
                    style="
                        color: #49c5b1;
                        font-family:
                            Times New Roman,
                            Times,
                            serif;
                        font-size: 33px;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 150%;
                    "
                    >Do you wish you could have treated at CTCA Tulsa?</span
                >
            </h1>
            <div style="text-align: center">
                <span
                    style="
                        color: #333333;
                        font-family: Arial, helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                    "
                    >We&rsquo;re currently sharing our patient&rsquo;s experiences to illustrate the
                    importance of adding CTCA Tulsa to the BCBS network of providers so that
                    Oklahoma residents can get the treatment they want, without the hassle and costs
                    of travel. Are you interested in partnering with CTCA to push this important
                    effort forward? Do you have an example or story of how treating locally at CTCA
                    Tulsa might have been a better option for you than traveling?</span
                >
            </div>
        </td>
    </tr>
</table>
